logs
dist
target
frontend/node_modules
*.class
*.log
.bsp
.idea
project/target
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

tmp
/.g8
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.env
.scannerwork
test/.DS_Store
/.bsp
.bloop
.metals
project/project/project
project/project/metals.sbt
project/metals.sbt
